:root {
  /* COULEUR         
  Utilisation:
  h1 {...color: var(--noir1); par exemple
  */

  /* Couleur 1 principale */
  --noir1: #212226;
  --vert1_fonce: #40735b;
  --marron1: #73493f;

  /* Couleur 2 secondaire */
  --vert2_moyen: #85a676;
  --vert2_pale: #b5d991;

  /* Couleur 3 d accent */
  --marron3_clair: #bf5545;

  /* POLICE              
  1) TITRE: Praise regular 400 (google font)
  font-family: 'Praise', cursive;    

  2) TEXTE: Cinzel Regular 400 (google font)
  font-family: 'Cinzel', serif;
  */
}

body {
  min-height: 100vh;
  background: url(https://images.pexels.com/photos/4809158/pexels-photo-4809158.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260)
    center/cover;
}

main {
  margin-bottom: 100px;
}

.story {
  display: flex;
  border: 2px solid var(--noir1);
  margin: 10px 10px 0px 10px;
  background: rgba(182, 182, 182, 0.521);
  border-radius: 5px;
}

.right {
  flex-direction: row-reverse;
}

img {
  width: 100%;
  min-width: 150px;
  max-width: 350px;
  margin: auto;
  align-self: center;
  border-radius: 5px;
}

.imgstory {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

a {
  display: flex;
  font-family: "Cinzel", serif;
  font-size: 1.2rem;
  text-decoration: none;
  width: 80px;
  padding: 10px;
  margin: 50px 0px 0px 50px;
  background: var(--noir1);
  color: var(--vert2_pale);
  border-radius: 5px;
  border: 2px solid var(--vert2_pale);
}

a:hover {
  background: rgba(182, 182, 182, 0.521);
  color: var(--noir1);
  border: 2px solid var(--marron3_clair);
}

h1 {
  text-align: center;
  color: var(--marron3_clair);
  font-family: "Praise", cursive;
  letter-spacing: 4px;
  font-size: 4rem;
  text-shadow: 4px 4px 0px black;
}

p {
  flex: 3;
  margin: 0;
  padding: 10px 10px;
  color: black;
  font-family: "Cinzel", serif;
  font-size: 1.1rem;
  text-shadow: 1px 1px 0 rgb(92, 92, 92);
}

@media screen and (max-width: 800px) {
  .story {
    flex-direction: column;
  }
}
